body {
		margin: 0;
		min-width: 700px;
}

#header {
		height: 65px;
		position: relative;
		
		background: #222222;
}

#nav {
		display: flex;
		justify-content: space-evenly;

		position: absolute;
		bottom: 0;
		left: 128;

		width: -moz-available;
		width: -webkit-fill-available;
		width: stretch;
}

#header #nav a {
		color: white;
		border-bottom: 3px solid #888888;
		
		text-decoration: none;
		font-size: 1.25em;

		padding: 10px 5px 2px;
		margin-left: 10px;
}

#header #nav a:hover {
		color: #ffaa55;
		border-bottom: none;
}

#content {
		margin-left: 150px;
}

.post + .post {
		margin-top: 50px;
		border-top: 1px solid black;
}

code {
		display: inline-block;
		margin-left: 10px;

		white-space: pre;

		background-color: #f0f0f0;
		padding: 5px;
		border: 1px solid black;
		border-radius: 2px;
}

#content img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
}
