<!DOCTYPE html>
<html>
	<head>
		{% include 'head_base.html' %}
		<style type="text/css">
			.downloadheader {
					text-align: center;
			}
			
			.download {
					background: #0080af;
					color: white;
					text-decoration: none;
					
					margin: 0 auto;
					padding-left: 10px;
					font-size: 1.25em;
					font-weight: bold;
					
					display: block;
					width: 500px;
					height: 50px;
					line-height: 50px;
			}
			
			.download + .download {
					margin-top: 10px;
			}
			
			.download:hover {
					background: #00a0ff;
					color: black;
			}
			
			.download.linux::before {
					content: '\f17c';
			}
			
			.download.macos::before {
					content: '\f179';
			}
			
			.download.windows::before {
					content: '\f17a';
			}

			.download.source::before {
					content: '\f121';
			}
			
			.download::before {
					color: black;
					font-family: FontAwesome;
					font-weight: normal;
					margin-right: 10px;
			}
			
			.download:hover::before {
					color: white;
			}
		</style>
	</head>
	<body>
		{% include 'header.html' %}

		<div id="content">
			<h1> Download Super Tux Party {{ version }} </h1>
			<h2 class="downloadheader"> Choose your operating system </h2>
			
			<a class="download linux" href="/download/{{release}}/linux"> Linux </a>
			<a class="download macos" href="/download/{{release}}/macos"> Mac OS </a>
			<a class="download windows" href="/download/{{release}}/windows"> Windows </a>
			<a class="download source" href="/download/{{release}}/source"> Source Code </a>
		</div>
	</body>
</html>
