<div id="header">
	<a href="/"><img class="logo" src="/images/icon.png" width=128 height=128 /></a>
	<div id="nav">
		<a href="/"> Home </a>
		<a href="/blog"> Blog </a>
		<a href="/download/latest"> Downloads </a>
		<a href="/source"> Source Code </a>
		<a href="/contact"> Contact </a>
	</div>
</div>
