<!DOCTYPE html>
<html>
	<head>
		{% include 'head_base.html' %}
	</head>
	<body>
		{% include 'header.html' %}

		<div id="content">
			{% for post in posts %}
			<div class="post">
				{{ post|markdown }}
			</div>
			{% endfor %}
		</div>
	</body>
</html>
